.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    width: var(--navContainerWidth);
    padding: 20px 15px;
}

.omega{
    color: var(--navLinkColor);
    letter-spacing: -0.68px;
    font-weight: 900;
    font-size: 16px;
}

.navLinkContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.link{
    text-decoration: none;
    letter-spacing: -0.45px;
    padding: 10px;
    color: var(--footerLinkColor);
    font-size: calc(var(--navLinkFontSize)/1.2);
}

.link:hover{
    color: var(--linkHoverColor);
}

.activeLink{
    color: var(--linkHoverColor);
}

.copyright{
    text-align: center;
    font-weight: normal;
    letter-spacing: -0.45px;
    color: var(--footerLinkColor);
    font-size: calc(var(--navLinkFontSize)/1.2);
}

.hr{
    width: 100vw;
    margin: 20px 0;
    opacity: 0.5;
}

@media (min-width: 400px) {
    .omega{
        font-size: 17px;
    }
}

@media (min-width: 768px) {
    .hr{
        display: none;
    }
    .container{
        flex-direction: row;
        justify-content: space-between;
    }
    .navLinkContainer{
        flex-direction: row;
        justify-content: space-between;
        width: calc(var(--navContainerWidth)/2.4);
    }
    .omega{
        font-size: 18px;
    }
    .link{
        padding: 10px;
        font-size: var(--navLinkFontSize);
    }
    .copyright{
        font-size: var(--navLinkFontSize);
    }
}

@media (min-width: 992px) {
    .omega{
        font-size: 20px;
    }
    .navLinkContainer{
        width: calc(var(--navContainerWidth)/2.8);
    }
}

@media (min-width: 1200px) {
    .navLinkContainer{
        width: calc(var(--navContainerWidth)/3);
    }
    .omega{
        font-size: 22px;
    }
}