.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    width: var(--navContainerWidth);
    padding: 20px 15px;
}

.omega{
    font-family: CircularStd;
    color: var(--navLinkColor);
    letter-spacing: -0.68px;
    font-weight: 900;
    font-size: 16px;
}

.navLinksContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    width: calc(var(--navContainerWidth)/2);
}

.link{
    text-align: center;
    text-align: right;
    font-family: CircularStd;
    color: var(--footerLinkColor);
    text-decoration: none;
    letter-spacing: -0.45px;
    padding: 5px;
    font-size: var(--navLinkFontSize);
}

.link:hover{
    color: var(--linkHoverColor);
}

.activeLink{
    color: var(--linkHoverColor);
}

.copyright{
    text-align: center;
    font-family: CircularStd;
    color: var(--footerLinkColor);
    letter-spacing: -0.45px;
    font-size: calc(var(--navLinkFontSize));
}


@media (min-width: 400px) {
    .omega{
        font-size: 17px;
    }
    .navLinksContainer{
        width: calc(var(--navContainerWidth)/2.3);
    }
    .copyright{
        font-size: var(--navLinkFontSize);
    }
}

@media (min-width: 500px) {
    .navLinksContainer{
        width: calc(var(--navContainerWidth)/2.5);
    }
}

@media (min-width: 768px) {
    .omega{
        font-size: 18px;
    }
    .link{
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .omega{
        font-size: 20px;
    }
    .navLinksContainer{
        width: calc(var(--navContainerWidth)/3);
    }
}

@media (min-width: 1200px) {
    .omega{
        font-size: 22px;
    }
}