:root{
  --navLinkColor: #ffffff;
  --footerLinkColor: rgba(255, 255, 255, 0.7);
  --linkHoverColor: #f04037;
  --navGetBetaBorderColor: #c31a12;
  --backgroundColor: black;
  --alternateBackgroundColor: #1e1e20;
  --navContainerWidth: 100vw;
  --navLinkFontSize: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--backgroundColor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
