.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    width: var(--navContainerWidth);
    padding: 15px;
}

.omega{
    font-family: CircularStd;
    color: var(--navLinkColor);
    letter-spacing: -0.68px;
    font-weight: 900;
    font-size: 16px;
}

.navLinksContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(var(--navContainerWidth)/3);
}

.link{
    text-align: center;
    font-family: CircularStd;
    color: var(--navLinkColor);
    text-decoration: none;
    padding: 3px;
    letter-spacing: -0.45px;
    font-size: var(--navLinkFontSize);
}

.link:hover{
    color: var(--linkHoverColor);
}

.activeLink{
    color: var(--linkHoverColor);
}

.getBeta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    font-family: CircularStd;
    color: var(--navLinkColor);
    background-color: var(--linkHoverColor);
    border: solid 0.9px var(--navGetBetaBorderColor);
    border-radius: 4.5px;
    letter-spacing: -0.45px;
    font-weight: 500;
    padding: 6px 12px;
    font-size: var(--navLinkFontSize);
}


@media (min-width: 400px){
    :root{
        --navLinkFontSize: 13px;
    }
    .omega{
        font-size: 17px;
    }
    .getBeta{
        padding: 10px 20px;
    }
    .navLinksContainer{
        width: calc(var(--navContainerWidth)/3);
    }
}

@media (min-width: 768px) {
    :root{
        --navContainerWidth: 750px;
        --navLinkFontSize: 13px;
    }
    .omega{
        font-size: 18px;
    }
    .link{
        padding: 10px;
    }
    .navLinksContainer{
        width: calc(var(--navContainerWidth)/4);
    }
    .getBeta{
        padding: 12px 24px;
    }
}

@media (min-width: 992px) {
    :root{
        --navContainerWidth: 970px;
        --navLinkFontSize: 14px;
    }
    .navLinksContainer{
        width: calc(var(--navContainerWidth)/5);
    }
    .omega{
        font-size: 20px;
    }
    .getBeta{
        padding: 13px 26px;
    }
}

@media (min-width: 1200px) {
    :root{
        --navContainerWidth: 1170px;
        --navLinkFontSize: 15px;
    }
    .omega{
        font-size: 22px;
    }
    .getBeta{
        padding: 14px 28px;
    }
}